{% extends "base.html.jinja" %}
{% block content %}
    <h2>Lista samochodów</h2>
    <div class="container mb-3 mt-3"> 
    {% for category in categories %}
        <h3>{{category}}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for car in cars %}
            {% if car.category == category %}
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        {{car.brand}} {{car.model}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">Silnik <span class="badge text-bg-primary rounded-pill">{{car.engine_type}}</span></p>
                        <p class="card-text">Liczba osób <span class="badge text-bg-primary rounded-pill">{{car.seats_count}}</span></p>
                        <a href="#" class="btn btn-primary">Wypożycz</a>
                        <a href="{% url 'rent' car_id=car.id %}" class="btn btn-primary">Wypożycz</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        2 days ago
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    <div class="container mb-3 mt-3">
        {{cars2 | safe}}
    </div>
    <!-- Szczegółowe informacje o samochodzie -->
    <div class="container my-5">
        <article class="card car-details">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/auto1.jpg" alt="Obraz auta" class="card-img" loading="lazy">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Ford Mustang GT</h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="fas fa-car-side"></i> Model: Ford Mustang GT</li>
                            <li><i class="fas fa-calendar-alt"></i> Rok produkcji: 2023</li>
                            <li><i class="fas fa-tachometer-alt"></i> Prędkość maksymalna: 250 km/h</li>
                            <li><i class="fas fa-gas-pump"></i> Paliwo: Benzyna</li>
                        </ul>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Wypożycz</button>
                            </div>
                            <small class="text-muted">9 miesięcy temu</small>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- Honda Civic -->
        <article class="card car-details">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/auto2.jpg" alt="Obraz Honda Civic" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Honda Civic</h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="fas fa-car-side"></i> Model: Honda Civic</li>
                            <li><i class="fas fa-calendar-alt"></i> Rok produkcji: 2023</li>
                            <li><i class="fas fa-tachometer-alt"></i> Prędkość maksymalna: 200 km/h</li>
                            <li><i class="fas fa-gas-pump"></i> Paliwo: Benzyna</li>
                        </ul>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Wypożycz</button>
                            </div>
                            <small class="text-muted">6 miesięcy temu</small>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- Toyota Camry -->
        <article class="card car-details">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/static/images/auto3.jpg" alt="Obraz Toyota Camry" class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Toyota Camry</h3>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="fas fa-car-side"></i> Model: Toyota Camry</li>
                            <li><i class="fas fa-calendar-alt"></i> Rok produkcji: 2023</li>
                            <li><i class="fas fa-tachometer-alt"></i> Prędkość maksymalna: 220 km/h</li>
                            <li><i class="fas fa-gas-pump"></i> Paliwo: Benzyna</li>
                        </ul>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Wypożycz</button>
                            </div>
                            <small class="text-muted">5 miesięcy temu</small>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
{% block script %}
    <script>let table = new DataTable('#cars2');</script>
{% endblock script %}
